@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1 {
    font-size: 100px;
    font-family: 'Poppins', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: aliceblue;
}
p {
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-family: 'Comfortaa' , 'Courier New', Courier, monospace;
    color: aliceblue;
}
.kolbaska {
    padding: 0;
    margin: 0;
}
h2 {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa' , 'Courier New', Courier, monospace;
    color: rgb(254, 255, 255);
}
body, head {
    background: -webkit-linear-gradient(180deg, rgb(13, 15, 14), rgb(18, 22, 22));
}
h3 {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa' , 'Courier New', Courier, monospace;
    color: rgb(254, 255, 255);
}
h4 {
   padding-top: 50px;
   padding-bottom: 20px;
    margin: 0;
    font-family: 'Comfortaa' , 'Courier New', Courier, monospace;
    color: rgb(254, 255, 255); 
    font-size: 60px;
}
img {
    width: 300px;
}
button {
    background: none;
    border: none;
}

button:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
  transform: scale(0.9) rotate(5deg); 
}
@keyframes move-up-down {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0); 
  }
}

.moving-text {
  animation-name: move-up-down; 
  animation-duration: 3s; 
  animation-timing-function: ease-in-out; 
  animation-iteration-count: infinite;
}